<%- include("./partials/header")%>
<% var labFound; %>

<% course.labs.forEach(lab => { %>
<% if (lab._id==labID) { %>
<% labFound=lab; %>
<% } %>
<% }) %>
<div class="jumbotron">
  <div class="container">
    <h1>Edit Lab</h1>
    <form action="/courses/<%= course._id %>/<%= labFound._id %>/?_method=PUT " method="POST">
      <div class="form-group form">
        <label for="labName" class="col-form-label">Lab name:</label>
        <div class="">
          <input type="text" name="updatedlab[name]" class="form-control mb-3" id="inputEmail3" value="<%= labFound.name %>"
            placeholder="For example, APS100" required>
        </div>
        <label for="labLink" class="col-form-label">Link:</label>
        <div class="">
          <input type="link" name="updatedlab[downloadLink]" class="form-control mb-3" id="inputPassword3"
            value="<%= labFound.downloadLink %> " placeholder="https://www.github.com/repo/filepath" required>
        </div>
        <label for="labtextbox">Expected output:</label>
        <textarea name="updatedlab[correctOutputFile]" class="form-control mb-3" id="labtextbox1"
          rows="3"><%= labFound.correctOutputFile %></textarea>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>


<%- include("./partials/footer")%>