<%- include("./partials/labheader")%>

<% var labFound; %>
<% course.labs.forEach(lab => { %>
<% if (lab._id==labID) { %>
<% labFound=lab; %>
<% } %>
<% }) %>
<div class="container mt-3">
    <h1><%= course.name %> - <%= labFound.name  %></h1>
    <div class="container  border border-dark">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class="card-body">
                        <h5 class="card-title">Instructions</h5>
                        <form>
                            <fieldset disabled>
                                <div class="form-group">
                                    <textarea type="text" id="disabledTextInput" class="form-control" rows='7'>
                                    1. Compile your code
                                    2. get a test file
                                    3. run it against the reference file && your file
                                    4. upload to the textboxes below and click compare
                                    NOTE: TEST FILES >1000 lines WILL BE LAGGY
                                    Made by Jintao (Jack) Huang, Grace Li, Yvonne Yang
                                    </textarea>
                                    <script>
                                        var textAreas = document.getElementsByTagName('textarea');

                                        Array.prototype.forEach.call(textAreas, function (elem) {
                                            elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
                                        });
                                    </script>
                                </div>
                            </fieldset>
                        </form>
                        <a href="<%= labFound.downloadLink %> " class="btn btn-primary">Download .zip</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex">

            </div>
            <div class="col-md-6">
                <div class="container">
                    <div>
                        <h3>Type here:</h3>
                        <textarea id="content-target" cols="70" rows="10" class="lined"></textarea>
                        </textarea>
                        <script>
                            $(function () {
                                $(".lined").linedtextarea({
                                    selectedLine: 99999
                                });
                            });
                        </script>
                    </div>
                    <p>Or upload here</p>
                    <div>
                        <input type="file" id="input-file" accept=".txt">
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <h3>Expected Output:</h3>
                <textarea id="textareaAfter" cols="70" rows="10"
                    class="lined"><%= labFound.correctOutputFile %> </textarea>
                <p>Or upload here</p>
                <div>
                    <input type="file" id="input-file1" accept=".txt">
                </div>

            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-between">
                <button id="buttonCompare"
                    onclick="buttonCompareClicked();document.getElementById('textareaDifferences').scrollIntoView(); document.getElementsByTagName('mark')[0].scrollIntoView();"
                    class="btn btn-success mt-3"><a>Compare</a></button>
                <button class="btn btn-warning mt-3"
                    onclick="document.getElementById('content-target').value=''; document.getElementById('textareaDifferences').innerHTML='';">Clear
                    input</button>
                <button class="btn btn-danger mt-3"
                    onclick="document.getElementById('content-target').value=''; document.getElementById('textareaAfter').value=''; document.getElementById('textareaDifferences').innerHTML='';">
                    Clear all
                </button>
            </div>

            <br />
            <h3 class="mt-3">Differences:</h3>
            <div id="textareaDifferences" style="height: 2000px; overflow-y: scroll; max-height: 90vh ; padding-right: 0.3em; padding-top: 0.3em; font-size: 10pt;
    font-family: monospace;
    line-height: normal !important; appearance: textarea;" class="lined">

            </div>
        </div>
        <% if (user) { %>
         <div class="d-inline-flex">
            <a href="/courses/<%= course._id %>/<%= labFound._id %>/edit " class="btn btn-warning m-2" ><i class="far fa-edit"></i> Edit lab</a>
            <form action="/courses/<%= course._id %>/<%= labFound._id %>?_method=DELETE" method="POST" id="delete">
                <button type="submit" class="btn btn-danger m-2"><i class="far fa-trash-alt"></i> Delete Lab</button>
            </form>
        </div>
        <% } %>
        
    </div>
</div>


<%- include("./partials/labfooter")%>