<%- include("./partials/header")%>

<div class="container mt-3">
  
  <h1>>_codecker</h1>
  <div class="row ">
    <% courses.forEach(course => { %>
    <div class="col-4  ">
      <div class="card mt-3 border-dark ">
        <div class="card-body">
          <h5 class="card-title"><%= course.name %> </h5>
          <p class="card-text"><%= course.description %> </p>
          <a href="/courses/<%= course._id %> " class="btn btn-dark">Select</a>
        </div>
      </div>
    </div>
    <% }) %>

  </div>
  <% if(userContext){ %>
    <h2>Course not found? Add it <a href="/courses/new">here.</a></h2>
  <%  }%>

  <%- include("./partials/footer")%>